.form-main,
.main-div {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}

.form-main {
    padding: 25px 30px;
    padding-bottom: 15px;
}

.error-div-login {
    margin: 5px;
    height: fit-content;
}

.label {
    font-size: 14px;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    align-self: flex-start;
    margin: 5px  0;
}

.form-title {
    font-size: 25px;
    margin: 5px 0;
}

.input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
      border: 1px solid black;
}

.each-error-div {
    font-size: 12px;
    color: #ff385c;
    margin: 3px 0;
    width: 250px;
    word-wrap: break-word;
}


.btn-basic {
    background-color: rgb(255, 56, 92);
    color: white;
    width: 70px;
    height: 25px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: rgb(255, 255, 255) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    border: none;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
}


.btn-basic-submit {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 10px;
}

.login-quest {
    display: flex;
    align-items: center;
    margin: 5px;
}

.login-quest > * {
    margin: 0;
    font-size: 13px;
}

.login-btn-div {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}