.trip-page-main {
     margin-top: 6%;
     height: 100%;
     width: 100%;
}

.all-listings {
     margin-bottom: 100px;
     margin: 2% 15%;
}


.each-line {
    border-bottom: rgb(235,235,235) 1.5px solid;
    width: 95%;
}

.left-listing-div {
     display: flex;
}

.btn-basic.listing{
     margin: 0 5px !important;
     height: 25px !important;
     padding: 6px !important;
     font-size: 12px !important;
}

.edit-del-listing-div {
   height: 99%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.edit-del-inner {
     height: fit-content;
}

.booking-post-info {
     display: flex;
     justify-content: space-between;
}