
#main-home-container {
   margin: 0 9%;
   margin-top: 10%;
  
}

.top-container{
    margin: 4% 0;
}
.middle-container{
    margin: 4% 0;
}

.bottom-container {
    margin: 4% 0;
} 


#first-img {
    border-radius: 15px;
    width: 100%;
}

/* Centered text */
.top-container,
.middle-container,
.bottom-container {
  position: relative;
}
.centered ,
.middle-center,
.bottom-center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  color: white;
  font-weight: 700;
}


.centered-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: purple;
  padding: 15px 38px;
  border-radius: 35px;
}