.profile-img-review {
   height: 56px;
   width: 56px; 
   border-radius: 50%;
   margin: 5px;
   margin-left: 0;
}

.star-svg {
   height: 20px;
   width: 20px;
}

.review-user-info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.review-user-info > * {
   align-items: center;
}

.each-review-info {
   display: flex;
}

.date-review {
   margin: 0;
   height: fit-content;
   padding-top: 3px;
   font-size: 12px;
   color: #717171;
}
.username-review {
   margin: 0;
   margin-top: 5px;
   font-size: 16px;
   font-weight: 400;
}

.username-date-div-review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
/* 
.all-reviews-div {
   border: 0.25px solid rgba(176,176,176, 0.2);
   max-height: 400px;
   overflow-y: scroll;
   padding: 15px;
}

.all-reviews-div::-webkit-scrollbar {
  display: none;
} */


.add-review-form {
   border-bottom: 1px solid rgb(221, 221, 221);
}

#post-modal-del {
   border:  none;
   align-self: flex-start;
}

#review-preview-edit {
   border: none;
   align-self: flex-start;
}
