.guest-count-select {
    height: 35px;
}

.booking-div {
    height: fit-content; 
    width: fit-content;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    position: sticky;
    top: 100px; 
    left: 70%;
}

.booking-form {
    height: auto;
}

.fa-star {
    font-size: 12px;
    color: #ff385c;
    margin-right: 2px;
}

.booking-reviews-count {
    display: flex;
   margin: 0;
   align-self: center;
   font-size: 12px;
}

.upper-booking-detail-div {
    display: flex;
    flex-direction: column;
}

#one-price {
   display: flex;
   flex-direction: row;
   align-self: center;
   justify-content: flex-end;
   margin-bottom: 10px;
}

.price-per-n {
   color: rgb(34, 34, 34);
   font-weight: 600;
   font-size: 20px;
   padding-right: 5px;  
   text-align: center;
   margin: 0;
}
.per-night-label {
   color: rgb(34, 34, 34);
   font-weight: 200;
   font-size: 19px;
   margin: 0;
}  

#date-start-input {
    width: 100px;
    height: 50px;
    border-top-left-radius: 10px;
    border: 1px solid rgb(176,176,176);
    text-align: center;
    border-right: none;
    
}
#date-end-input {
    width: 100px;
    height: 50px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(176,176,176);
    text-align: center;
}

.date-picker-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.guest-count-select {
    margin: 0;
    width: 200px;
    border: 1px solid rgb(176,176,176);
    align-self: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: start;
    padding-left: 15px;
    height: 50px;
    border-top: none;
}

.reserve-booking-btn {
    margin-top: 15px;
    background-color:rgb(255, 56, 92);
    color: white;
    width: 200px;
    height: 48px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: rgb(255, 255, 255) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    border: none;
    border-radius: 8px;
    align-self: center;
}
.reserve-msg {
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    text-align: center;
}

.total-price {
    font-size: 15px !important;
    line-height: 20px !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 200 !important;
}
.booking-line {
    border-bottom: 0.5px solid rgb(176,176,176);
}

.total-price.last {
    margin-bottom: 0;
    font-weight: 600 !important;
}

.location-title {
    margin: 0;
    font-size: 16px;
}

.host-title {
    color: rgb(115,115,115);
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0;
}

.booking-dates {
    font-weight: 100;
    font-size: 14px;
     color: rgb(115,115,115);
    margin: 0;
}


.to-login-msg {
    text-align: center;
    margin: 8px;
    margin-top: 12px;
    width: 180px;
    color: rgb(255, 56, 92)
}

.login-demo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.or {
    margin: 0 5px;
    color: rgb(255, 56, 92)
}