* {
  background: rgb(255,255,255);
  font-family: Arial, Helvetica, sans-serif;
}
html {
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin-top: 7%;
    grid-gap: 40px;
    margin-left: 0;
}
body {
    margin-left: 0;
}
.map{
    width: 40%;
    margin-right: 10%;
}

.left-container{
    display: flex;
    flex-direction: column;
    grid-column-start: 1 / span 1;
    width: 100%;
    margin-left: 2%;
}

.spots-container {
    border-bottom: rgb(235,235,235) 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    padding: 25px 0;
}

.right-container {
    grid-column-start: 2 / span 1;
    width: 100%;
    height: 100%;
} 

.info {
    position: relative;
    grid-column-start: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    overflow: hide;

}

#spot-image {
   width: 100%;
   height: 100%;
   border-radius: 15px;
   grid-column-start: 1 / span 1;
    width:  450px;
    height: 300px;
    object-fit: cover;
    margin-left: 2%;
}

ul {
  list-style-type: none;
}

li {
  color: rgb(140,140,140);
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0; 
    min-width: 100%; 
    min-height: 100%
}
/* 
ul.detail { 
    width: 400px; 
    text-align : center 
}
ul.detail li { 
    display: inline; 
    white-space: nowrap;
 }
ul li:after { 
    content: " \00b7"; 
}  */

ul.details {
    /* border: blue 1px solid; */
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
} 

#price {
  position: absolute;
  top: 90%;
  right: 10%;
  font-size: 25px;
  font-weight: 100;
}

#spot-name {
    font-size: 25px;
    font-weight: 100 !important;
    margin-bottom: 10px;
}


#detail-p {
    margin:0 !important;
    font-size: 20px;
     font-weight: 100 !important;
}

#amenities-all {
    font-size: 16px;
    font-weight: 100 !important; 
}

#line {
    border-bottom: rgb(235,235,235) 2px solid;
    width: 50px;
    margin-bottom: 10px;
}