* {
  background: rgb(255,255,255);
  font-family: Arial, Helvetica, sans-serif;
}
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.detail-pg-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-top: 6%;
    margin: 0;
    padding: 0;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    margin: 5% 0 2% 0;
}
.right-container {
    width: 40%;
    height: 100% !important;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 0;
} 

#right-image {
    height: auto;
    width: 100%;
    z-index: 0;
}
.spots-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    height: 100%;
    width: 100%;
    padding: 25px 0;
}

.each-line {
    border-bottom: rgb(235,235,235) 1.5px solid;
    width: 95%;
}

.info {
    width: 300px;
    height: 100%;
    padding: 10px;
}

.spots-container {
    width: fit-content;
    margin-left: 8%;

}
.image-container {
    width: fit-content;

}

.each-spot-title {
    word-wrap: break-word;
    font-size: 18px;
    line-height: 20px;
    color: #343434;;
    font-weight: 600;
    padding: 0;
}

#spot-image {
   border-radius: 15px;
   grid-column-start: 1 / span 1;
    width:  350px;
    height: 250px;
    object-fit: cover;
    margin-left: 2%;
}

ul {
  list-style-type: none;
}

li {
  color: rgb(140,140,140);
}





#spot-name {
    font-size: 25px;
    font-weight: 100 !important;
    margin-bottom: 10px;
}


p#spot-detail-info {
    margin:0 !important;
    font-size: 16px !important;
    font-weight: 100 !important;
    padding-top: 10px;
}

#amenities-all {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 100 !important; 
}

#line {
    border-bottom: rgb(235,235,235) 2px solid;
    width: 50px;
    margin-top: 5px;
}

.price-info-div {
   display: flex;
   align-items: flex-end;
   height: 50%;
   justify-content: space-between;
}


 .fa-star.spot {
     margin: 18px 0;
 }

 @media screen and (max-width: 1350px) {
 .right-container {
    display: none;
  }

}

@media screen and (max-width: 1349px) and (min-width: 600px)  {


.detail-pg-main-container {
    width: 100%;
}
.info {
    width: fit-content;

}
.left-container {
    width: 100%;
}
.each-line {
    width: 100%;
}
.spots-container {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

}
