
.footer {
    width: 100%;
    bottom: 0;
    left:0;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top:0.2%;
}

#git-linked {
    padding: 0;
    padding-left: 10px;
    font-size: 18px;
    background-color: transparent;
    align-items: center;
    margin: 10px;
}

#developed-by {
    font-weight: 500;
    font-size: 12px;
    background-color: transparent;
    color: rgb(60,60,60);
}

.foot-icon {
    background-color: transparent;
}

i.fa-linkedin,
i.fa-github {
color: rgb(158, 156, 156) !important;
}
.footer-line {
    border-bottom: 1px solid rgb(221, 221, 221);
}