
h2 {
    color:black;
    font-size: xx-large;
}


.spot-detail {
    margin: 8% 8% ;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.spot-image-new {
   width: 500px;
   border-radius: 25px;
   height: 400px;
   object-fit: cover;
}

#title-1 {
    margin-top: 65px;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#title {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}


.amenities-container-all {
    color: rgb(135, 135, 135);
    margin:0;
    font-size: 15px;
}

.detail-container-all {
    color: rgb(125, 125, 125);
    margin-bottom: 0 !important;
}

#detail-p {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 30px;
    position: relative;
    padding-top: 15px;
    font-size: 16px;
}


#user-btn {
    border: 1px solid  rgb(125, 125, 125) !important;
    cursor: pointer;
}

#p-text {
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    color: #222222 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 20px;
    position: relative;
}

#one-spot {
   font-size: 15px;
   font-weight: 300;
   text-align: end;
   margin-right: 20px;
}


#one-price {
    text-align: end;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

#info {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.i-list {
    margin: 18px;
}

.list-details {
    margin-left: 55px;
}

.amen-icon {
    /* border: tomato 1px solid; */
    display: flex;
    flex-direction: row;
}

.symb {
    margin-left: 30px;
}



.spot-delete-new  {
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #FF5A5F;
    background-color: white; /* Green */
    border: 2px solid #FF5A5F;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer; 
    margin-left: 0!important;
    margin-right: 10px;
}

.spot-delete-new:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FF5A5F;
    color: white;
   
}

#button-detail {
    display: flex;
    justify-content: flex-end;
}

.post-content-main {
    position: relative;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
}


.detail-upper-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-spot-detail-pg {
    width: 68%;
    margin-right: 5%;
}

.amen-icon {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.spot-rating-count {
  margin: 18px 0;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  
}


.fa-star.rating-review {
    margin-right: 5px;
    font-size: 18px;
}