
h2 {
    color:black;
    font-size: xx-large
}


.spot-detail {
    margin: 8% 20% ;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.spot-image {
   width: 100%;
   border-radius: 25px;
   /* width:  850px; */
   height: 700px;
   object-fit: cover;
   /* margin: 0 100px; */
}


#title {
    margin-top: 65px;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
}


.amenities-container-all {
    color: rgb(135, 135, 135);
    margin:0;
    font-size: 15px;
}

.detail-container-all {
    color: rgb(125, 125, 125);
    margin-bottom: 0 !important;
}

#detail-p {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 30px;
    position: relative;
}


#user-btn {
    border: 1px solid  rgb(125, 125, 125) !important;
}

#p-text {
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    color: #222222 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 20px;
    position: relative;
}

#one-spot {
   font-size: 15px;
   font-weight: 300;
   text-align: end;
   margin-right: 20px;
}


#one-price {
    text-align: end;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

#info {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.i-list {
    margin: 18px;
}

.list-details {
    margin-left: 55px;
}