/* html {
     height: auto;
} */

.trip-page-main {
 height: auto !important;
 width: 100%;
 margin-bottom: 4%;
}


.trip-page-search {
    background-color: rgb(255, 56, 92);
    color: white;
    width: 200px;
    height: 48px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: rgb(255, 255, 255) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    border: none;
    border-radius: 8px;
    align-self: center;
    margin-top: 50px !important;
}

.trips-booking-div {
  border-radius: 15px;
  border: 1px solid #DDDDDD;
  display: flex;
  height: 400px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  margin: 0 15%;
  margin-top: 4% !important;
}

.trips-booking-div  {
     display: flex;
     align-items: center;
     margin-top: 100px;
}

.trip-page-image {
     height: 100%;
     width: 100%;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     background-position: center;
     background-repeat: no-repeat; 
     background-size: cover;
}

.left-trip-div {
 width: 40%;
 border-top-left-radius: 15px;
 border-bottom-left-radius: 15px;
 padding: 0 32px; 
}

.right-trip-div {
     width: 60%;
     height: 400px;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
}

i.fa-suitcase {
     color:rgb(215, 4, 102);
     font-size: 40px;
}

.no-trip-message {
     margin-bottom: 30px;
}

.trip-title {
     font-size: 36px;
     font-weight: 500;
     margin: 2% 5%;
     margin-top: 10%;
     font-size:  Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;;
}

.fa-suitcase.trips {
     font-size: 50;
}

.upComing-trip-count {
     font-size: 30px;
}

.trip-plans-history {
     margin-bottom: 100px;
     margin: 2% 15%;
}

.trip-image-small {
     height: 80px;
     width: 80px;
     border-radius: 10px;
     margin: 30px;
     cursor: pointer;
}

.each-booking-container {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     border-bottom: 1px solid#DDDDDD;
     display: flex;
     justify-content: space-between;
     margin: 0px;
}

.booking-post-info {
     display: flex;
     flex-direction: row;
}

.content-details {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.delete-button-div {
     display: flex;
     align-items: center;
     height: 100%;
     margin-right: 40px;
}

.Check-in {
     margin-right: 60px;
     font-size: 14px;
}

.fa-luggage-cart {
     margin-right: 10px;
}

.explore-new {
     padding: 0 1px;
     color: rgb(255, 56, 92);
}
.explore-new:hover {
     text-decoration: underline;
}