

.sign-up {
    padding: 3%;
    border: 1px solid lightgray;
    border-radius: 8px;
    display:flex;
    align-items: flex-end; 
} 

.signup-label {
  margin: 0;
  display: block;
  text-align: end;
  padding: 0 30px;
  border-radius: 8px;
} 

.signup-input {
  height:  30px; 
} 

.sign-up- {
  width: 100%;
  background-color: white;
}

.sign-up {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: end;
} 

#wrapper-div {
  margin-top: 25% !important;
  margin-left: 20% !important;
  margin-right: 35% !important;
  border-radius: 8px;
}

#sign-up-form {
  border-radius: 15px;
  padding: 20px;
}

#confirm {
  position: relative;
  margin-bottom: 30px;
}


.floating-btn {
  border-radius: 8px;
}

.sign-up-btn {
  margin-bottom: 20px;
  margin-right: 15px;
  margin-right: 4%;
  border-radius: 4px;
  background-color: lightgray;
}

