

form {
    display: flex;
    flex-direction: column;
}

div#left-host-form > input,
select {
    margin: 10px 10px;
    border-radius: 4px;
}

select  {
    width: 300px;
}
label {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-right: 10%;
    margin-left: 15%;
    font-size: 20px;
}



button.host-form {
    text-align: center;
    margin: 5px 340px;
    width: 30%;
    height: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 0;
    border-top: 5px;
    border-radius: 10px;
}

input[type=number]#num-input::-webkit-inner-spin-button,
input[type=number]#num-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.errors {
  display: inline-block;
}
/* 
#outer{
    margin: 0 32%;
    margin-top: 20%;
    padding: 3%;
    border: 1px solid lightgray;
    border-radius: 8px;
    display:flex;
    align-items: flex-end;   
} */

#form-container {
    border: 1px solid purple;
    /* display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr fr; */
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 10% 25%;
    width: 50%;  
}


#top-host-form {
    grid-column-start:1;
    grid-column-end: 3;
    column-span: auto;
    border-radius: 8px;
}


#left-host-form {
    grid-row: 2;
    /* grid-row-start: 2 / span 1; */
    grid-column-start:1 / span 1 ;
    padding: 0;
    margin: 0 ;
    border-radius: 8px;
    padding-bottom: 15px;
    padding-bottom: 0px;
    width: 100%;
}


#right-host-form {
    grid-row:2; 
    /* border: 1px solid greenyellow; */
    grid-column-start:2 / span 1 ;
    padding-right: px;
    margin: 0;
    /* flex-direction: column; */
    border-radius: 4px;
    position: relative;
    height: 200px;
    margin-top: 30px;
    /* background-color: transparent; */
}
#kitchen,
#privateBeachAccess,
#firePlace,
#parking,
#hotTub,
#pets,
#pool{
    width: 20px;
}

ul#errors {
   margin-left: 45%;

}

.title-center{
    text-align: center;
    border-bottom: 1px solid rgb(221, 221, 221); 
    margin: 5px 80px;
}

.list-of-err {
    font-size: 15px;
    display: flex;
    padding-left: 35%;
}


ul.errors-center {
    display: inline;
    text-align: center;
}

.image-inp {
    border-bottom: 20px;
}

/* #host-cancel-btn {
position: absolute;
bottom: 20px;
right: 20px;
text-align: center;
border-radius: 10px;
border-radius: 4px;
background-color: lightgray;
font-size: 15px;
color: black;
font-weight: 100;
padding: 5px 15px;
border:gray 1px solid;
display: inline;
}

#host-btn {
position: absolute;
margin: 0;
bottom: 20px;
right: 100px;
border-radius: 4px;
background-color: lightgray;
font-size: 15px;
color: black;
padding: 5px 5px;
border:gray 1px solid;
margin-right: 20px;
width: 80px;
} */

.host-labels {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 30px;
}

.host-labels-box {
     display: inline-block !important;
     margin: 0 15px !important;
}

textarea {
    margin-top: 15px;
    width: 200%;
    height: 80px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 25px;
    resize: none;
}


form {
    background-image: url("https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.host-input {
  margin-top: 0;
  margin-top: 10px;
  margin-bottom: 0;
  height: 30px;
}

select {
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
    margin-bottom: 0;
    margin-right: 50px;
    width: 60%;
}

div#left-host-form > input {
    margin-right: 50px;
    width: 60%;
}

select,
.new-input {
    width: 60%;
    margin-right: 50px;
    margin-left: 50px;
    height: 85%;
    border-radius: 4px;
    margin-top: 0;
}

.host-labels {
    display: flex;
    justify-content: flex-end;
}
#host-cancel-btn {
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #FF5A5F;
    background-color: white; /* Green */
    border: 2px solid #FF5A5F;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer; 
    margin-left: 0!important;
    margin-right: 10px;
    width: 200px;
    border-radius: 8px;
    padding-top: 5.5px;
    font-weight: 200;
}
#host-cancel-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FF5A5F;
    color: white;
   
}

#host-btn  {
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #FF5A5F;
    background-color: white; /* Green */
    border: 2px solid #FF5A5F;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom:50px;
    margin-left: 28%;
    cursor: pointer; 
    margin-right: 16px;
    font-weight: 200;
}

#host-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FF5A5F;
    color: white;
   
}
.Upper-title {
    padding-top: 5px;
}

#amenities {
    padding: 0 80px;
}

#text-id {
    height: 60px;
    margin-bottom: 10px;
}