i#logo-icon {
    font-size: 50px;
    padding-right: 4px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    height: 100%;
}

a#logo {
   font-size: 30px; 
   height: 100%;
   font-weight: 800;
   color: rgb(234,91,98);
}



ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 7%;
}

li::marker {
    text-decoration: none !important;
}

i.fa-user-circle, 
 .fa-bars  {
    font-size: 30px;
    border-radius: 50%;
    color: gray;
    padding: 3px 2px;
}

.login-btn,
#demo-btn,
a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
} 


#signup {
    padding-left: 15px;
} 

.login-btn,
#demo-btn {
border: none;
margin-right: 20px;
}

nav {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 15px;
    background-color: rgb(241,241,241);
    overflow: hidden;
}
nav * {
     background-color: rgb(241,241,241);
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 30px;
}


a.nav-links {
    /* border: 1px solid red; */
    padding-right: 20px;
}

#user-btn {
    border-radius: 21px !important;
    overflow: visible !important;
    padding: 2px 15px;
    border: 1pz solid lightgray;
    margin-right: 50px;
}


#logOut { 
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #FF5A5F;
    background-color: white; /* Green */
    border: 2px solid #FF5A5F;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer; 
    margin-left: 0!important;
    margin-right: 50px;
}

#logOut:hover { 
  cursor: pointer;
    transform: scale(1.1);
    background-color: #FF5A5F;
    color: white;
      
}

