i#logo-icon {
    font-size: 50px;
    padding-right: 4px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 100%;
}

a#logo {
   font-size: 30px; 
   height: 100%;
   font-weight: 700;
}



ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 7%;
}

li::marker {
    text-decoration: none !important;
}

.fa-user-circle  {
    font-size: 30px;
    border-radius: 5px;
    padding-left: 2px 10px;
}
button {
    height: 45px;
    width: 45;
    border-radius: 5px;
    margin-right: 50px;
    
}


 a {
    text-decoration: none;
    color: grey;
    /* margin: 0 40px; */
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
} 


#signup {
    padding-left: 15px;
} 


nav {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 40px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}